*.Rproj.user
*.Rproj
*.here
*.DS_Store
*.RData
*.Rhistory


./microcat/rules/
./docs/
src/*_cache
src/*_files
src/.ipynb_checkpoints
work_log/
figures/
bsub_jobs/
result/
data/bench_dataset
*.png
*.rds
*.pdf
.Rproj.user
**/.snakemake
**/.DS_Store
**/output
**/slurm-*.out
**/FASTQ/
**/._.DS_Store
**/*.dict
**/*.fa
**/*.fna
**/Log.out
**/*.db
**/*.fai

