# IDE & Editor
.idea/
.vscode/
*.swp
*.swo
.project
.classpath
.settings/
*.sublime-workspace
*.sublime-project

# R related
.Rproj.user/
*.Rproj
.Rhistory
.RData
.Ruserdata
*_cache/
*_files/
*.rds
*.rda
*.rmd

# Python related
__pycache__/
**/__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.ipynb_checkpoints
*.pyc

# System
.DS_Store
._.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs & Temp files
*.log
*.tmp
*.temp
*.swp
*.bak
*.cache
slurm-*.out
Log.out

# Build & Compile
*.o
*.ko
*.obj
*.elf
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Data & Results
data/
result/
output/
figures/
work_log/
bsub_jobs/

# Bioinformatics specific
FASTQ/
*.fa
*.fna
*.fai
*.dict
*.db
bench_dataset/

# Project specific directories
microcat/data/
microcat/single_wf/data/
src/*_cache/
src/*_files/
src/.ipynb_checkpoints/
microcat/.ipynb_checkpoints/
docs/

# temp file
temp/
backup/
